<main class="p-1 text-zinc-700 flex items-center justify-center"
      <% if admin_signed_in? %> data-controller="dropdown" <% end %>>
    <div class="relative flex items-center justify-center gap-2 p-2 border border-slate-800 bg-slate-900 rounded-lg">


    <button type="button"
            class="flex items-center gap-2"
            <% if admin_signed_in? %> data-action="click->dropdown#toggle" <% end %>>

      <span class="text-sm text-indigo-600">
        <% if admin_signed_in? %>
          En línea: <strong class="text-indigo-400"><%= current_admin.email.split("@").first %></strong>
        <% else %>
          <%#= link_to 'Admin Login', new_admin_session_path, class: "text-sm px-4 py-1.5 rounded-full font-medium text-indigo-700 hover:bg-[#d3dcfb] transition-colors duration-200 shadow" %>
          <%#= link_to 'Admin Login', new_admin_session_path, class: "text-sm px-4 py-1.5 rounded-full font-medium text-indigo-200 bg-slate-800 hover:bg-slate-700 hover:text-white transition-colors duration-200 shadow" %>
          <%= link_to 'Administradores', new_admin_session_path,
                      class: "text-sm font-medium text-sky-700 hover:text-white transition-colors duration-200 underline underline-offset-2" %>





      <% end %>
      </span>

      <% if admin_signed_in? %>
        <svg class="w-5 h-5 text-zinc-500 transition-transform duration-200"
             xmlns="http://www.w3.org/2000/svg"
             fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M19 9l-7 7-7-7" />
        </svg>
      <% end %>
    </button>

    <% if admin_signed_in? %>
      <div data-dropdown-target="menu"
           class="absolute right-0 top-full mt-2 w-max bg-white border border-zinc-200 rounded-lg shadow-sm hidden flex flex-col z-50">

        <%= link_to 'Agregar depto', new_apartment_path,
                    class: "text-sm px-4 py-2 text-emerald-700 font-medium hover:bg-zinc-50 text-left w-full transition-colors duration-150" %>

        <%= link_to 'Editar perfil', edit_admin_registration_path,
                    class: "text-sm px-4 py-2 text-blue-600 font-medium hover:bg-zinc-50 text-left w-full border-t border-zinc-100 transition-colors duration-150" %>

        <%= button_to 'Salir', destroy_admin_session_path, method: :delete,
                      class: "text-sm px-4 py-2 text-pink-600 font-medium hover:bg-zinc-50 text-left w-full border-t border-zinc-100 transition-colors duration-150" %>
      </div>
    <% end %>

  </div>
</main>
